.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Averta' ;
  src: url(./fonts/FontsFree-Net-AvertaStandard-Regular.ttf) ;
}

@font-face {font-family: "Averta-Bold"; 
  src: url("//db.onlinewebfonts.com/t/c36a75c5ada59665e225bbf5e38efd34.eot"); 
  src: url("//db.onlinewebfonts.com/t/c36a75c5ada59665e225bbf5e38efd34.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c36a75c5ada59665e225bbf5e38efd34.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/c36a75c5ada59665e225bbf5e38efd34.woff") format("woff"), url("//db.onlinewebfonts.com/t/c36a75c5ada59665e225bbf5e38efd34.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/c36a75c5ada59665e225bbf5e38efd34.svg#Averta-Bold") format("svg"); }


  @font-face {font-family: "Averta-Regular"; src: url("//db.onlinewebfonts.com/t/150037e11f159dca84bc4c04549094b6.eot"); src: url("//db.onlinewebfonts.com/t/150037e11f159dca84bc4c04549094b6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/150037e11f159dca84bc4c04549094b6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/150037e11f159dca84bc4c04549094b6.woff") format("woff"), url("//db.onlinewebfonts.com/t/150037e11f159dca84bc4c04549094b6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/150037e11f159dca84bc4c04549094b6.svg#Averta-Regular") format("svg"); }
  
:root {
  --pink: #FD6599;
  --blue: #3A4BA3 ;
  --navy: #1C1B4E ;
}